* {
  margin: 0;
  padding: 0;

}

.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.Registration {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Login1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login {
  display: flex;
  flex-direction: column;
  background-color: rgb(120, 116, 116);
  width: 40%;
  height: 50%;
 
}

span {
  color: whitesmoke;
}

.Sidebar {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */

}



.Sidebar a {
  width: max-content;
  color: white;
  margin-left: 40px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-top: 30px;

}

.Sidebar a:hover {
  color: orange;
  border-bottom: 3px solid orange;
}



.Dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
}



.Sidebar h1 {
  color: white;
  margin-left: 20px;
}

.viewplane {
  height: 100vh;
  width: 85%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  height: 65%;
  width: 95%;
  background-color: aliceblue;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
  border-radius: 10px;

}

.bottom {
  height: 65%;
  width: 95%;
  background-color: aquamarine;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topleft {
  height: 80%;
  width: 30%;
  background-color: yellowgreen;

}

.topmid {
  height: 80%;
  width: 30%;
  background-color: rgb(249, 21, 21);
}

.topright {
  height: 80%;
  width: 30%;
  background-color: rgb(255, 234, 0);
}

.bottomleft {
  height: 50%;
  width: 30%;
  background-color: rgb(0, 0, 255);
}

.bottomright {
  height: 50%;
  width: 30%;
  background-color: rgb(115, 255, 0);
}

.Profile {
  background-color: rgb(5, 11, 99);
  display: flex;
  height: 100%;
  width: 100%;
  color: aliceblue;
}

.Profile1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
  
}
.Profile1 h1 {
  text-align: center;
  
}

.Profile2 {
  height: max-content;
  width: 50%;
  margin-top: 20px;
  margin-left: 10px;
  border: 10px solid ;
  border-color: rgb(55, 86, 24);
  border-radius: 10px;
}

.Profile2  p {
  margin-left: 10px;
}

.Profile3 {
  height: max-content;
  width: 50%;
  margin-top: 20px;
  margin-left: 10px;
  border: 10px solid ;
  border-color: rgb(55, 86, 24);
  border-radius: 10px;
}
.Profile3 p {
  margin-left: 10px;
}

.Expenses {
  background-color: rgb(65, 225, 156);
  display: flex;
  height: 100vh;
  width: 100%;
}
.Expenses button{
  height: 8%;
}
.Expenses1  {
  margin-top: 20%;
  width: 60%;
}

.Income {
  background-color: rgb(58, 80, 102);
  display: flex;
  /* align-items: center; */
  /* display: inline; */

}
.Income table {
  height: 50%;
  width: 60%;
  margin-top: 20%;
}

.Income Button {
height: 10%;

}

